@charset "utf-8";
@import url("normalize.css");

/* 공용 스타일 */

*, *::before, *::after {
  box-sizing: border-box;
}

/* css reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 본문 스타일 */

html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans Regular', sans-serif;
  color: #181818;
  background-color: #fff;
}

/* 링크 스타일 */

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f00;
}
.slogan span {
  font-weight: bold;
}
.slogan {
  position: relative;
  padding: 15px 15px;
}
.footer {
  display: block;
  color: #fff;
  font-size: 0.8em;
  background-color: #988574;
}
.footer address {
  display: flex;
  flex-flow: column;
}
.footer span:last-child {
  padding-top: 10px;
}
.footer-text {
  display: block;
  padding: 15px 15px;
  margin: 0 auto;
}

/* 숨김 콘텐츠 */

.readable-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 999px 이하 */

@media all and (max-width:999px) {
  body {
    font-size: 1.4rem;
  }
  .header-top {
    display: flex;
    flex-flow: column nowrap;
    background: #38302e;
  }
  .logo, .member-link, .search-form {
    width: 100%;
  }
  .logo {
    padding: 1rem;
  }
  .member-link {
    display: flex;
    justify-content: flex-end;
    background: #988574;
    font-size: 1.2rem;
    order: -1;
  }
  .member-link a {
    display: block;
    padding: 1rem;
    color: #fff;
  }
  .search-form {
    color: #fff;
    padding: 1rem 1rem 2rem 1rem;
  }
  .search-form label {
    position: absolute;
    left: -9999em;
  }
  .search-form input {
    width: 80%;
  }
  .search-btn {
    position: absolute;
    right: 12px;
  }
  .navigation {
    background: rgba(0, 0, 0, .8);
    width: 80%;
    color: #fff;
    padding: 15px 15px;
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  .menu-hide {
    transform: translateX(-100%);
  }
  .main-menu>li {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .main-menu>li>span {
    font-weight: bold;
  }
  .sub-menu {
    font-size: 1rem;
    margin: 10px 10px;
  }
  .slogan {
    font-size: 1.2rem;
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .group {
    margin: 10px 15px;
  }
  .group1 {
    background: #c8c8c8;
    min-height: 150px;
  }
  .group2 {
    background: #969696;
    min-height: 150px;
  }
  .group3, .group4 {
    background: #646464;
    min-height: 100px;
  }
  .group5 {
    background: #323232;
    min-height: 100px;
  }
}
@media all and (min-width:1000px) {
  body {
    font-size: 1.6rem;
  }
  /* 헤더 영역 */
  .header-top, .main-menu, .main-content, .slogan, .footer-text {
    margin: 0 10%;
  }
  .logo {
    position: absolute;
  }
  .member-link {
    display: flex;
    justify-content: flex-end;
  }
  .member-link a {
    padding: 8px 10px;
  }
  .member-link a:focus {
    outline: 1px #00e;
  }
  .member-link li {
    display: inline-block;
    font-size: .8em;
    /* font-size: 1.2rem; */
    padding: 10px 0;
  }
  .search-form {
    display: flex;
    justify-content: flex-end;
  }
  .search-form button {
    font-size: 1.2rem;
    background-color: #988574;
    color: #fff;
    border: 0px;
    padding: 3px 10px;
    margin: 0 5px;
  }
  .navigation {
    display: block;
    background: #988574;
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
    margin: 10px 0;
  }
  .main-menu {
    display: flex;
    justify-content: space-between;
  }
  .main-menu span {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    margin: 1.4rem 0;
  }
  .sub-menu li {
    font-size: 1.4rem;
    color: #fff;
    padding: 0 10px;
    margin: 1.4rem 0;
  }
  /* 컨텐츠 영역 */
  .main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .group {
    margin: 10px 0;
  }
  .group1 {
    background: #c8c8c8;
    width: 35%;
    min-height: 150px;
  }
  .group2 {
    background: #969696;
    width: 60%;
    min-height: 150px;
  }
  .group3, .group4 {
    background: #646464;
    width: 35%;
    min-height: 100px;
  }
  .group5 {
    background: #323232;
    width: 20%;
    min-height: 100px;
  }
  /* 슬로건 영역 */
  .slogan {
    position: relative;
    padding: 10px 0;
  }
  .slogan::after {
    content: "";
    position: absolute;
    bottom: -25px;
    width: 110px;
    height: 83px;
    overflow: hidden;
    background: url("/images/coffee.png") no-repeat;
  }
  .slogan h2 {
    padding-left: 120px;
  }
  .slogan span {
    font-weight: bold;
  }
  /* 풋터 영역 */
  .footer {
    display: block;
    color: #fff;
    font-size: 0.8em;
    background-color: #988574;
  }
  .footer address {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .footer span {
    padding: 15px 10px 0;
  }
  .footer-text {
    display: block;
    padding-bottom: 15px;
    width: 60%;
    margin: 0 auto;
  }
}