@import url('../common/normalize.css');
@import url('../common/common.css');
img {
  width: 800px;
  height: 600px;
}
h2 {
  font-size: 2.4rem;
  width: 800px;
  margin: 20px auto;
}
.carousel-box {
  margin: 0 auto;
  height: 600px;
  width: 800px;
  position: relative;
  overflow: hidden;
}
.carousel-box ul {
  position: relative;
  left: 0;
  width: 900%;
}
.carousel-box ul li {
  height: 100%;
  float: left;
  position: relative;
}
.carousel-box button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-box button.prev {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-box button.next {
  right: 0;
  left: auto;
  background-image: linear-gradient(to left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.indicator-list {
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 20px;
  text-align: center;
}
.img-list {
  position: relative;
  background: #000;
  /* transition: all .3s ease-in-out; */
}
.img-list>.item {
  float: left;
  transition: all 3s ease-in-out;
}
.img-list .item.active, .img-list .item.next.left, .img-list .item.prev.right {
  display: block;
  transform: translate3d(0, 0, 0);
}
.img-list .item.prev, .img-list .item.active.left {
  display: block;
  transform: translate3d(-100%, 0, 0);
}
.img-list .item.next, .img-list .item.active.right {
  display: block;
  transform: translate3d(100%, 0, 0);
}
.indicator-list li {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, .7);
  display: inline-block;
  margin: 3px;
}
.indicator-list li.active {
  background-color: rgba(255, 255, 255, .99);
  ;
}