@import url('../common/normalize.css');
@import url('../common/common.css');
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
  margin: 0 100px;
  cursor: pointer;
}
.btn-info:focus, .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
h2 {
  font-size: 2.4rem;
  margin: 30px 100px;
}
.collapse {
  overflow: hidden;
  height: 0;
}
.collapse.in {
  height: 100%;
  margin: 30px 100px;
  transition: height .2s linear;
}